* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #f6f6f9;
}

nav {
  width: 100%;
  height: 8vh;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}

nav .logo img {
  scale: 0.8;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
